@import 'global/variables';
@import 'global/breakpoints';
@import 'mixins/ease_transition';

.index_page {
  display: flex;
  min-height: 100vh;
  flex: 1;
  flex-direction: column;
  text-align: center;

  @include breakpoint(large) {
    height: 100vh;
    min-height: 100vh;
    max-height: 100vh;
    overflow-y: auto;
  }

  @include breakpoint(wide) {
    height: 100vh;
    min-height: 100vh;
    max-height: 100vh;
    overflow-y: auto;
  }
}
