
<div local-class="index_page">
<h1>Design Monster LLC</h1>
<h2>is excited to announce that it is opening an office space in downtown Camden Maine.</h2>
<h3>We were recently awarded a grant by the Maine Department of Economic and Community Development to establish coworking and remote worker space on the MidCoast. We will use these funds to help renovate an unused mill building into a vibrant downtown space called Camden Creative. We expect the space to open in the winter of 2024.
<br>
<br>
We will be launching new websites for both Design Monster and Camden Creative, so please check back in!
<br>
<br>
Please email:
<br>
ask@DesignMonster.com
<br>
with any questions.
</h3>
</div>