<div local-class="nav-menu-container">
  {{#if @routeSlotOne}}
  <div local-class="nav-item-container">
    <LinkTo @route={{@routeSlotOne}} local-class="nav-link" aria-label="Save the dam falls home page and mission statement">
      <div local-class="nav-item">
        <div local-class="nav-item-text">
          Our Mission
        </div>
      </div>
    </LinkTo>
  </div>
  {{/if}}
  {{#if @routeSlotTwo}}
  <div local-class="nav-item-container">
    <LinkTo @route={{@routeSlotTwo}} local-class="nav-link" aria-label="Learn about the reasons the dam should be saved">
      <div local-class="nav-item">
        <div local-class="nav-item-text">
          Why We Fight
        </div>
      </div>
    </LinkTo>
  </div>
  {{/if}}
  {{#if @routeSlotThree}}
  <div local-class="nav-item-container">
    <LinkTo @route={{@routeSlotThree}} local-class="nav-link" aria-label="Learn about the negative impacts of removing the dam">
      <div local-class="nav-item">
        <div local-class="nav-item-text">
          Local Impact
        </div>
      </div>
    </LinkTo>
  </div>
  {{/if}}
  {{#if @routeSlotFour}}
  <div local-class="nav-item-container">
    <LinkTo @route={{@routeSlotFour}} local-class="nav-link" aria-label="How to help Save the Dam Falls save the damn falls!">
      <div local-class="nav-item">
        <div local-class="nav-item-text">
          Take Action
        </div>
      </div>
    </LinkTo>
  </div>
  {{/if}}
</div>
