@import "global/variables";
@import "global/breakpoints";

.nav-menu-container {
  display: flex;
  flex: 1;
  background-color: $color-blue-secondary;
  align-items: center;
  justify-content: center;

  .nav-item-container {
    display: flex;
    min-height: $height-large;
    flex: 1;
    align-items: center;

    &:hover {
      transform: scale(1.075);
    }

    .nav-link {
      display: flex;
      flex: 1;
      color: $font-color-regular;
      text-decoration: none;

      &:visited {
        color: $font-color-regular;
      }

      &:global(.active) {
        height: $height-large;
        color: $font-color-inverse;
        background-color: $color-blue-primary;
      }
    }

    .nav-item {
      display: flex;
      flex: 1;
      margin: $margin-extra-small;

      .nav-item-text {
        display: flex;
        flex: 1;
        font-size: $font-size-medium;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
