@import "global/variables";
@import "global/breakpoints";

.header {
  display: flex;
  flex: 1;
  border-bottom: $border-one;
  align-items: flex-end;

  .header-content {
    display: flex;
    flex: 1;
    margin: 0 $margin-extra-small;
    align-items: baseline;

    a {
      display: flex;
      color: $font-color-secondary;
      text-decoration: none;
      cursor: default;
      align-items: baseline;

      &.hover-pointer {
        &:hover {
          color: $font-color-primary;
          cursor: pointer;
        }
      }

      &:visited {
        color: $font-color-secondary;
      }
    }

    .text-container-two {
      display: flex;
      color: $font-color-secondary;
      justify-content: flex-end;

      .one {
        font-size: $font-size-xl;
        font-weight: 400;
      }
    }
  }
}

.sub-header {
  margin: $margin-extra-small 0 0;

  .text-container-one {
    display: flex;
    margin: 0 $margin-extra-small;
    align-items: flex-end;
  }
}
