<div local-class="header">
  <span local-class="header-content">
    <span local-class="text-container-two">
      <nav>
      <LinkTo @route='index' aria-label="Camden Creative banner - click to go to home page" local-class="{{unless @indexPage "hover-pointer"}}">
      <span local-class="one">
        Save The Dam Falls
      </span>
      </LinkTo>
      </nav>
    </span>
  </span>
</div>
<div local-class="sub-header">
  <span local-class="text-container-one">
    Montgomery Dam, Camden Harbor
  </span>
</div>
