@import "mixins/ease_transition";

.skip-link {
  @include ease-transition;

  position: absolute;
  z-index: -10;
  display: flex;
  min-width: 150px;
  min-height: $height-medium;
  max-height: $height-medium;
  margin: $margin-extra-small 0 0 $margin-medium;
  font-size: $font-size-medium;
  text-decoration: none;

  @include breakpoint(large) {
    margin: $margin-extra-small 0 0 $margin-large;
  }

  p {
    margin-block: 0;

    &.center-text {
      flex: 1;
      padding: 0 $padding-small;
      color: $color-white;
      text-align: center;
      align-self: center;
    }
  }

  &:focus {
    z-index: 20;
    height: $height-medium;
    background: $color-blue-primary;
    transform: translateZ(-100px) perspective(100px);
  }

  &:focus-visible {
    border-radius: 0;
  }
}
