@import 'mixins/ease_transition';

.skip_link {
  @include ease_transition();
  position: absolute;
  z-index: -10;
  display: flex;
  min-width: 150px;
  min-height: $height_medium;
  max-height: $height_medium;
  margin: $margin_extra_small 0 0 $margin_medium;
  font-size: $font_size_medium;
  text-decoration: none;

  @include breakpoint(large) {
    margin: $margin_extra_small 0 0 $margin_large;
  }

  @include breakpoint(wide) {
    margin: $margin_extra_small 0 0 $margin_large;
  }

  p {
    margin-block-start: 0;
    margin-block-end: 0;

    &.center_text {
      flex: 1;
      padding: 0 $padding_small;
      color: $color_white;
      text-align: center;
      align-self: center;
    }
  }

  &:focus {
    z-index: 20;
    height: $height_medium;
    background: $color_yellow_primary;
    transform: translateZ(-100px) perspective(100px);
  }

  &:focus-visible {
    border-radius: 0;
  }
}
