// breakpoints values
$zero: 0;
$sm: 34.375em; // 543.86px
$lg: 34.376em; // 544px
$mega: 2000em;

// breakpoints maps
$breakpoints: (
  small: (
    // 0-543px
    min: $zero,
    max: $sm,
  ),
  large: (
    // 544-tons of px
    min: $lg,
    max: $mega,
  ),
);

// Breakpoint functions and mixins
@function map-deep-get($map, $keys...) {
  @each $key in $keys {
    $map: map-get($map, $key);
  }

  @return $map;
}

@mixin breakpoint($name) {
  @if not map-has-key($breakpoints, $name) {
    @warn 'Warning: `#{$name}` is not a valid breakpoint name.';
  } @else {
    @media (min-width: map-deep-get($breakpoints, $name, "min")) and (max-width: map-deep-get($breakpoints, $name, "max")) {
      @content;
    }
  }
}
