@import "global/variables";
@import "global/breakpoints";

.footer {
  display: flex;
  flex: 1;
  margin: $margin-extra-small;
  align-items: end;

  .text-boxes-container {
    display: flex;
    flex: 1;
    justify-content: space-between;

    .text-box-one {
      padding-right: $padding-medium;
    }
  }
}
