@import 'global/variables';
@import 'global/breakpoints';

.footer {
  display: flex;
  flex: 1;

  .text_boxes_container {
    display: flex;
    flex: 1;
    justify-content: space-between;

    .text_box_one {
      padding-right: $padding_medium;
    }
  }
}
