<div local-class="footer">
  <span local-class="text_boxes_container">
    <span local-class="text_box_one">
      &copy; 2025 Designed and built by&nbsp;<a href="//www.designmonster.com" target="_blank" aria-label="Go to Design Monster's webpage in a separate window." rel="noopener noreferrer">Design Monster LLC</a>&nbsp;Camden, Maine
    </span>
    <span local-class="text_box_two">
      <LinkTo @route="privacy" local-class="nav_link" aria-label="To Camden Creative's privacy page.">
        Privacy Policy
      </LinkTo>
    </span>
  </span>
</div>
