@import 'global/variables';
@import 'global/breakpoints';

.wrong_url_page {
  display: flex;
  flex: 1;
  flex-direction: column;

  @include breakpoint(large) {
    flex-direction: row;
  }

  @include breakpoint(wide) {
    flex-direction: row;
  }

  .wrong_url_page_mobile_navigation_container {
    position: fixed;
    bottom: 0;
    display: flex;
    width: 100vw;
    max-width: 100vw;
    background-color: $color_white;
  }

  .wrong_url_page_desktop_navigation_container {
    display: flex;
    min-width: 17.1875rem;
    max-width: 17.1875rem;
    flex-direction: column;
    overflow-y: scroll;
    border-right: $border_three;
    justify-content: center;
  }

  .wrong_url_page_body_container {
    display: flex;
    min-height: 100vh;
    flex: 1;
    flex-direction: column;
    overflow-y: scroll;

    .wrong_url_page_header_container {
      display: flex;

      @include breakpoint(large) {
        min-height: $height_xxl;
        max-height: $height_xxl;
        margin: 0 $margin_extra_small $margin_large;
      }

      @include breakpoint(wide) {
        min-height: $height_xxl;
        max-height: $height_xxl;
        margin: 0 $margin_small $margin_large;
      }
    }

    .wrong_url_page_content_container {
      display: flex;
      flex-direction: column;
      margin: 0 $margin_small $margin_xl;

      .wrong_url_page_content_header {
        display: flex;
        margin: 10px $margin_extra_medium;
        font-size: $font_size_medium;
        font-weight: 600;

        span {
          white-space: nowrap;
        }
      }

      .wrong_url_page_content {
        display: flex;
        flex: 1;
        flex-direction: column;
      }
    }

    .wrong_url_page_image_container {
      display: flex;
      width: auto;
      height: auto;
      margin-bottom: 50px;
      justify-content: center;
      align-items: center;

      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }
  }
}
