<main local-class="index_page_main_content_inner_container">
  {{#if (has-block "primaryHeroImage")}}
  <div local-class="index_page_primary_hero_image_container">
  {{yield to="primaryHeroImage"}}
  </div>
  {{/if}}


</main>