@import 'global/variables';
@import 'global/breakpoints';

.button {
  width: $button_width_wide;
  height: $button_height_primary;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem;
  font-family: raleway, sans-serif;
  font-size: $button_font_size_primary;
  line-height: 1.2;
  color: $button_font_color_primary;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  background-color: $button_background_color_primary;
  border: 0;
  border-radius: $button_border_radius_primary;
  box-shadow: $button_box_shadow_primary;

  &:hover {
    color: $button_font_color_hover;
    cursor: pointer;
    background-color: $button_background_color_hover;
    box-shadow: $button_box_shadow_hover;
  }

  &:focus { 
    outline: none;
  }

  // &:active { 

  // }

  // &:visited { 
  //   color: $color_stone_blue;
  // }
}
